body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

/* Navigation Bar */
nav{
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover{
    color: yellow;
}
#about img{
    width: 160px;
    height: 160px;
    border-radius: 50%;     /* Makes image circular */
    border: 4px solid #2575fc;
    display: block;
    margin: 0 auto 15px;   /* Center image */
}


/* Header */
header{
    background: linear-gradient(to right, #2fff97, #b224dd);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid white;
}

header h1{
    margin-top: 15px;
}

/* Sections */
section{
    padding: 40px;
    margin: 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

section h2{
    color: #2575fc;
    border-bottom: 3px solid #6a11cb;
    display: inline-block;
    padding-bottom: 5px;
}


/* Skills */
.skills span{
    display: inline-block;
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: white;
    padding: 10px 18px;
    margin: 10px;
    border-radius: 25px;
    font-weight: bold;
}

/* Projects */
.project{
    margin-top: 20px;
    padding: 15px;
    border-left: 6px solid #ff512f;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.project h3{
    margin-bottom: 8px;
    color: #dd2476;
}

/* Education Table */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td{
    border: 1px solid #aaa;
}

th{
    background-color: #2575fc;
    color: white;
}

td{
    background-color: #f2f2f2;
}

th, td{
    padding: 12px;
    text-align: center;
}

/* Contact */
#contact{
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: white;
}

#contact h2{
    color: white;
    border-bottom: 3px solid white;
}

/* Footer */
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 150px;

}
